  error-body {
    font-size: 24px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 960px) {
    error-body {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 640px) {
    error-body {
      font-size: 12px;
    }
  }
  
  /* *, *:before, *:after {
    box-sizing: inherit;
  } */
  
  error-body,
  .flex-full-justify,
  .overlay {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  error-body {
    background-color: #00a;
    color: #f1f1f1;
    font-family: "Perfect DOS";
  }
  
  .overlay {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }
  .overlay.overlay--vignette {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 100%);
  }
  .overlay.overlay--scanline {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.33) 25%, rgba(0, 0, 0, 0.33) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.33) 75%, rgba(0, 0, 0, 0.33) 100%);
    background-size: 4px 4px;
  }
  
  .flex-full-justify {
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-full-justify > .flex-inner {
    max-width: 40rem;
  }
  
  /* h1 {
    background-color: silver;
    color: #00a;
    padding: 0 1rem;
    font-size: 1rem;
    display: inline-block;
  }
  
  ul {
    list-style-type: none;
    padding-left: 1.5em;
  }
  ul > li {
    position: relative;
  }
  ul > li:before {
    font-family: "Perfect DOS";
    color: #f1f1f1;
    content: "*";
    position: absolute;
    left: -1.5em;
    font-size: 1rem;
  }
   */
  .text-center {
    text-align: center;
  }
  
  .blink {
    animation: blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    66% {
      opacity: 0;
    }
  }
  body{
    margin-top:0px!important;
  }